<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <a href="index.html"><img src="assets/images/quetrabajo_logo.png" alt="Logo" width="300" height="150"
                    style="margin-bottom:20px"></a>
        </div>
        <div class="col-md-12 text-align:center">

            <input type="text" class="text-align:center" id="user" placeholder="Usuario"
                style="width:300px; margin-block-end: 1%">

        </div>
        <div class="col-md-12 mx-auto">

            <input type="text" class="text-align:center" id="password" placeholder="Contraseña"
                style="width:300px; margin-block-end: 1%">

        </div>
        <div class="col-md-12">
            <a class="btn btn-primary" href="search.html" type="button" style="width:300px; margin-block-end: 1%"
                routerLink="/trabajador">Entrar</a>
        </div>
        <div class="col-md-12 mx-auto">
            <br><a class="link" href="">¿Olvidaste tu contraseña?</a><br>
        </div>
    </div>

</div>