<div class="header-content">
    <div id="title">
        <h1 style="text-align:left; margin-top:40px;margin-left: 30px;">Regístrate</h1>
    </div>
</div>
<p class="text" style="padding-left: 30px; padding-right: 30px;">
    Estás a un paso de formar parte de nuestra comunidad de mejores trabajadores
</p>
<div class="row">
    <div class="col-lg-4">
        <Form>
            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <p class="text">
                        Nombres y Apellidos:
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <input type="form-control" class="form-control" placeholder="Ingrese sus nombres y apellidos"
                        style="margin-bottom: 10px;width: 500px;">
                </div>
            </div>

            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-3 col-sm-1">
                    <p class="text">
                        DNI:
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-11">
                    <input type="form-control" class="form-control" placeholder="00000000"
                        style="margin-bottom: 10px;width: 100px;">
                </div>
                <div class="col-lg-1 col-md-2 col-sm-1">
                    <p class="text">
                        Servicio:
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-11">
                    <select class="form-select" id="service" style="margin: 10px; width: 350px;">
                        <option selected>Seleccione un servicio</option>
                        <option value="1">Electricista</option>
                        <option value="2">Gasfitero</option>
                        <option value="3">Pintor</option>
                    </select>
                </div>
            </div>

            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-2 col-sm-1">
                    <p class="text">
                        Fecha de nacimiento:
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-11">
                    <input type="form-control" class="form-control" id="birthday" placeholder="dd/mm/aa"
                        style="margin-bottom: 10px;width: 200px;">
                </div>
            </div>

            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <p class="text">
                        Dirección:
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <input type="form-control" class="form-control" id="address" placeholder="Ingrese su dirección"
                        style="margin-bottom: 10px;width: 500px;">
                </div>
            </div>
            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <p class="text">
                        Correo Electrónico:
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <input type="form-control" class="form-control" id="email" placeholder="trabajador@gmail.com"
                        style="margin-bottom: 10px;width: 500px;">
                </div>
            </div>
            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <p class="text">
                        Celular:
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <input type="form-control" class="form-control" id="cellphone" placeholder="999999999"
                        style="margin-bottom: 10px;width: 500px;">
                </div>
            </div>

            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="form-control" class="form-control" id="answer2" placeholder="Escriba su respuesta"
                        style="margin-bottom: 10px;width: 500px;">
                </div>
            </div>
            <div>

                <a class="btn btn-primary btn-lg" type="button" href="account-verification.html"
                    style="width:300px; margin-block: 1%;">Continuar</a>

            </div>
        </Form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="./assets/images/trabajador.jpg" alt="trabajador" width="95%" height="95%">
    </div>
</div>